<toaster-container [toasterconfig]="config"></toaster-container>

<div class="layer">



</div>
<!-- Mobile menu overlay mask -->

<div id="preloader" *ngIf="loading">
  <div data-loader="circle-side"></div>
</div>
<!-- End Preload -->

<app-header></app-header>
<!-- /header -->

<main>
  <div class="bg_color_2">
    <div class="container margin_60_35">
      <div id="login-2">
        <h1>Enter your e-mail address/ Mobile no below to reset your password.!</h1>

        <div class="box_form clearfix">

          <div class="box_login last">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Enter Email/ Mobile No." [(ngModel)]="emailMobile" />

            </div>
            <div class="error" *ngIf="emailMobile == ''">
              *Required
            </div>


            <div class="form-group">
              <input class="btn_1" (click)="submit()" type="button" value="Submit">
            </div>
          </div>
        </div>


      </div>
      <!-- /login -->
    </div>
  </div>
</main>

<app-footer></app-footer>
<!--/footer-->

<div id="toTop"></div>
<!-- Back to top button -->

<!-- COMMON SCRIPTS -->
